<div id="facilitator-form" style="display:none;">
    <input type="text" id="facilitator-name" placeholder="Name">
    <input type="text" id="facilitator-department" placeholder="Department">
    <input type="text" id="facilitator-plate_number" placeholder="Plate Number">
    <input type="text" id="facilitator-validation" placeholder="Validation">
    <input type="text" id="facilitator-cp_number" placeholder="CP Number">
    <button onclick="addFacilitator()">Add</button>
    <button onclick="hideForm()">Close</button>
</div>
