<div id="student-form" style="display:none;">
    <input type="text" id="student-name" placeholder="Name">
    <input type="text" id="student-department" placeholder="Department">
    <input type="text" id="student-year_section" placeholder="Year/Section">
    <input type="text" id="student-plate_number" placeholder="Plate Number">
    <input type="text" id="student-validation" placeholder="Validation">
    <input type="text" id="student-cp_number" placeholder="CP Number">
    <button onclick="addStudent()">Add</button>
    <button onclick="hideForm()">Close</button>
</div>
